---
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
	title="Alvaro Resplandor | Portafolio"
	description="Portafolio de Alvaro Resplandor"
>
	<Header />

	<main>
		<Hero />
	</main>
</BaseLayout>
