---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";
---

<BaseLayout
	title="Alvaro Resplandor | Portafolio"
	description="Portafolio de Alvaro Resplandor"
>
	<Header />

	<div class="min-h-[200vh]"></div>
</BaseLayout>
