---
import { me } from "@/lib/constants";
import ExpirienceItem from "./ExpirienceItem.astro";
import SectionContainer from "./SectionContainer.astro";
import SectionTitle from "./SectionTitle.astro";
---

<SectionContainer id="experience" class="space-y-10">
	<SectionTitle>Experiencia</SectionTitle>

	<ol>
		{
			me.experiences.map((experience) => (
				<li>
					<ExpirienceItem experience={experience} />
				</li>
			))
		}
	</ol>
</SectionContainer>
