---
type Props = astroHTML.JSX.IntrinsicElements["a"] & {
	title: string;
};

const props: Props = Astro.props;
---

<a
	{...props}
	class="border-paragraph text-paragraph hover:bg-paragraph/20 rounded-full border px-4 py-2 transition-colors"
>
	<slot />

	<span class="sr-only">{props.title}</span>
</a>
